<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Restaurant  |--</th>
      <th>--|  Rating</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% restaurants.forEach(function(r) { %>
      <tr>
        <td><%= r.restaurant %></td>
        <td><%= r.rating %></td>
        <td><%= r.address %></td>
        <td><a href="/restaurants/<%= r._id %>">Read<br>Reviews</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
