<%- include("../partials/header") %>

<form id="yelp-search" action="/restaurants/search" method="GET">
<label>Restaurant</label>
<input type="text" name="search">
<button type="submit">Search</button>
</form>

<form id="new-form" action="/restaurants" method="POST">
    <% if (restaurant){ %>
        <p>
            <%= restaurant.name %>
        </p>
        <input type="hidden" value="<%= restaurant.name %>" name="name">
        <p>
            <%= restaurant.location.address1 %>
        </p>
        <input type="hidden" value="<%= restaurant.location.address1 %>" name="address">
        <img src="<%= restaurant.image_url %>">
        <input type="hidden" value="<%= restaurant.image_url %>" name="image">
        <% console.log(restaurant.location) %>
    <% } %>
    
    <label>Neighborhood</label>
    <br>
    <select name="neighborhood">
        <option value="Mission">Mission</option>
        <option value="The Richmond">The Richmond</option>
        <option value="Sunset">Sunset</option>

    </select>
    <p>
    <label for="proteins">Proteins offered:</label>
    <label for="p1"> <input type="checkbox" name="protein1" value="Carne Asada" id="p1">Carne Asada</label>
    <label for="p2"><input type="checkbox" name="protein2" value="Chicken" id="p2">Chicken</label>
    <label for="p3"><input type="checkbox" name="protein3" value="Pastor" id="p3">Pastor</label>
    </p>

    <label>Do they Super?</label>
    <input type="checkbox" name="super" checked>
    <input type="submit" value="Add Restaurant">
</form>

<%- include("../partials/footer") %>